#content{
    padding: 20px 200px;
}

#content > .stats{
    display: flex;
    margin-bottom: 20px;
}

#content > .stats > .stat-element{
    margin: 0px;
    width: calc((100%)/4);
    background-color: white;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 20px;
    border: 0.1px solid rgb(221, 221, 221);
}

.stats-icon{
    color: #4E4DE8;
    font-size: 34px !important;
}

.graph-element > div > div{
    display: flex;
    justify-content: space-evenly;
}

.border{
    border-color: rgb(221, 221, 221);
    border-width: .6px;
}

.stat-element div span:nth-child(1){
    font-size: 10px;
    font-weight: bold;
    color: #4E4DE8;
}

.stat-element div span:nth-child(2){
    font-size: 18px;
    color: #121241;
}

.graphs{
    display: flex;
    justify-content: space-evenly;
}

.graphs > .graph-element:not(:first-child):not(:last-child){
    margin-left: 20px;
    margin-right: 20px;
}

.graphs > .graph-element{
    min-height: 380px;
    height: fit-content;
    padding: 20px;
    text-align: center;
    background-color: white;
    width: calc((100% - 60px)/3);
    border: 0.1px solid rgb(221, 221, 221);
}
.highcharts-plot-border {
    margin: 0px !important;
    pdding: 0px !important;

}
.highcharts-credits{
    display: none;
}

.graphs > .graph-element:nth-child(2){
    text-align: left;
}

.graphs > .graph-element:nth-child(2) > h5, .graphs > .graph-element:nth-child(2) > h2{
    line-height: 2px;
}


.graphs > .graph-element:nth-child(2) > h5{
    color: gray;
}

.graphs > .graph-element:nth-child(2) > h2{
    color: #121241;
}

.graphs > .graph-element:nth-child(2) > label{
    color: #121241;
    font-size: 12px;
    display: block;
    padding-bottom: 10px;
}



@media only screen and (min-width: 760px) and (max-width: 1024px) {
    #content{
        padding: 20px;
    }



    #content > .stats{
        width: 100%;
        flex-wrap: nowrap;
    }

    .graphs > .graph-element:not(:first-child):not(:last-child){
        margin-left: 10px;
        margin-right: 10px;
    }

    #content > .stats > .stat-element{
        padding: 20px 10px;
        width: calc(100% - 20px);
    }
}

.graphs .graph-element div span:first-child{
    color: #121241;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.graphs .graph-element div span:nth-child(2){
    font-size: 12px;
    display: block;
    color: gray;
}

.graphs > .graph-element > div >  p{
    display: block;
    font-size: 12px;
    color: #121241;
    margin: 40px 0px;
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graph-element-footer div p:first-child{
    color: #121241;
    font-weight: bold;
    line-height: 1px;
    font-size: 14px;
}

.graph-element-footer div p:nth-child(2){
    color: #121241;
    font-size: 12px;
}

.followBtn{
    padding: 5px 10px;
    color: white;
    background-color: #4E4DE8;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 760px) {
    #content{
        padding: 5px;
    }



    .graphs > .graph-element:not(:first-child):not(:last-child){
        margin-left: 0px;
        margin-right: 0px;
    }

    #content > .stats{
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .graphs > .graph-element{
        padding: 10px;
        width: 100%;
    }

    .graphs{
        flex-wrap: wrap;
    }

    #content > .stats > .stat-element{
        padding: 20px 10px;
        width: calc((100% - 42px)/2);
    }
}