body{
    background-color: #ECEEF2;
    margin: 0;
}

*{
    font-family: 'Roboto', sans-serif;
}

#header{
    height: 85px;
    padding: 10px 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

#header .row:nth-child(2){
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .row:nth-child(1){
    display: flex;
    justify-content: space-between;    
}

input[type='search']{
    background-color: #F9FAFC;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
    padding: 6px;
    padding-left: 30px;
    width: 200px;
    outline: none;
}

.navIcon {
    padding: 8px 0px;
    color: gray;
    font-size: 20px !important;
    position: relative;
    text-align: center;
    
  }

  .menuIcon{
      font-size: 14px !important;
      position: absolute;
      top: 12.5px;
      left: 20px;
  }

  .searchContainer .navIcon{
    position: absolute;
    top: 14px;
    margin-left: 8px;
    font-size: 16px !important;
  }

  #header > div > div > div{
      margin-right: 25px;
  }


  .userActions{
      display: flex;
  }

  .toggle{
      display: none;
  }

  .user .navIcon{
      position: absolute;
      margin-bottom: -10px;
      margin-left: 8px;
  }

  .badge {
    position: absolute;
    margin-left: -12px;
    margin-top: 0px;
    padding: 2.5px 5px;
    border-radius: 50%;
    background-color: rgb(223, 53, 81);
    color: white;
    font-size: 10px;
  }


  .button-group button {
    border: none; 
    position: relative;
    background-color: #F9FAFC;
    color: rgb(18, 18, 65);
    padding: 12px 52px; 
    cursor: pointer; 
    font-weight: 550;
    float: left;   
    text-transform: uppercase;
}
  

  
  .button-group button:hover {
    background-image: linear-gradient(to right, #4E4DE8, #7B4EFC) !important; 
    color: white;
  }


@media only screen and (max-width: 600px) {
  
    #header{
        height: 35px;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: white;
    }

    #header .row{
      padding: 5px;
      height: 30px;
    }  

    .toggle{
        display: block;
    }

    .navIcon{
        padding: 5px;
    }

    .button-group{
        display: none;
    }

    .userActions{
        display: none;
    }

}

